In [4]:
import pandas as pd
import numpy as np

In [5]:
influencer_df=pd.read_csv("influencers.csv")

In [6]:
usersdf=pd.read_csv("SocialMediaUsers.csv")

In [7]:
usersdf.drop(columns=["Gender","UserID","City","DOB",],inplace=True)

In [8]:
usersdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Name       100000 non-null  object
 1   Interests  100000 non-null  object
 2   Country    100000 non-null  object
dtypes: object(3)
memory usage: 2.3+ MB

In [9]:
influencer_df.drop(columns=["S.no"],inplace=True)

In [10]:
usersdf["keywords"]=usersdf["Interests"]+","+usersdf["Country"]

In [11]:
usersdf["keywords"]=usersdf["keywords"].str.replace("'","")

In [12]:
usersdf.drop(columns=["Interests","Country"],inplace=True)

In [13]:
usersdf

                     Name                                           keywords
0           Jesse Lawhorn          Movies, Fashion, Fashion, Books,Indonesia
1             Stacy Payne  Gaming, Finance and investments, Outdoor activ...
2      Katrina Nicewander     DIY and crafts, Music, Science, Fashion,Jordan
3          Eric Yarbrough     Outdoor activities, Cars and automobiles,Italy
4           Daniel Adkins                        Politics, History,Venezuela
...                   ...                                                ...
99995      Lionel Denault                               DIY and crafts,China
99996     Margie Mieszala  Cars and automobiles, Cooking, Outdoor activit...
99997       Joan Mercedes       Business and entrepreneurship, Cooking,Chile
99998        Marvin Massa  Gaming, Business and entrepreneurship, Fashion...
99999          Josh Young                              Politics, Pets,Poland

[100000 rows x 2 columns]

In [14]:
influencer_df["keywords"]=influencer_df["country"]+","+influencer_df["Category_1"]+","+influencer_df["Category_2"]+","+influencer_df["Category_3"]

In [15]:
influencer_df["keywords"]=influencer_df["keywords"].str.replace("'","")

In [16]:
influencer_df.drop(columns=["country","Category_1","Category_2","Category_3"],inplace=True)

In [17]:
influencer_df

,username,followers,viewers,Average views,keywords
0,cristiano,477.9M,5M,6.2M,"India,Parenting and family,Art,History"
1,kyliejenner,368.1M,3.5M,5.5M,"United States,Finance and investments,Travel,Pets"
2,arianagrande,329.6M,2.9M,4M,"United States,Science,Movies,Beauty"
3,leomessi,358.6M,2.7M,3.5M,"Indonesia,Cars and automobiles,Beauty,Health a..."
4,zendaya,151.1M,4.3M,5.8M,"United States,Parenting and family,Beauty,Art"
...,...,...,...,...,...
1045,jadethirlwall,9.4M,174.2K,228.1K,"United States,Science,Cooking,Gardening"
1046,ninja,12.9M,127.8K,163.9K,"United States,Gaming,Travel,DIY and crafts"
1047,myriamfares,20.6M,75.8K,102.4K,"Iraq,Photography,Science,Technology"
1048,optimushwang,4.2M,426K,508K,"South Korea,Technology,Science,Social causes a..."
1049,syifahadjureal,15.5M,110.2K,136.1K,"Indonesia,Technology,Parenting and family,Fashion"

In [18]:
def convert_to_thousands(value):
    if value.endswith('K'):
        return float(value[:-1]) 
    elif value.endswith('M'):
        return float(value[:-1]) * 1000
    else:
        return float(value)

In [19]:
influencer_df['followers'] = influencer_df['followers'].apply(convert_to_thousands)

In [20]:
influencer_df['viewers'] = influencer_df['viewers'].apply(convert_to_thousands)

In [21]:
influencer_df['Average views'] = influencer_df['Average views'].apply(convert_to_thousands)

In [22]:
influencer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   username       1050 non-null   object
 1   followers      1050 non-null   float64
 2   viewers        1050 non-null   float64
 3   Average views  1050 non-null   float64
 4   keywords       1046 non-null   object
dtypes: float64(3), object(2)
memory usage: 41.1+ KB

In [23]:
usersdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Name      100000 non-null  object
 1   keywords  100000 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB

In [29]:
influencer_df.rename(columns={"followers":"Followers(in_K)","viewers":"Viewers(in_K)","Average views":"Average_views(in_K)"},inplace=True)

In [30]:
influencer_df.drop_duplicates(keep="first")

,username,Followers(in_K),Viewers(in_K),Average_views(in_K),keywords
0,cristiano,477900.0,5000.0,6200.0,"India,Parenting and family,Art,History"
1,kyliejenner,368100.0,3500.0,5500.0,"United States,Finance and investments,Travel,Pets"
2,arianagrande,329600.0,2900.0,4000.0,"United States,Science,Movies,Beauty"
3,leomessi,358600.0,2700.0,3500.0,"Indonesia,Cars and automobiles,Beauty,Health a..."
4,zendaya,151100.0,4300.0,5800.0,"United States,Parenting and family,Beauty,Art"
...,...,...,...,...,...
1045,jadethirlwall,9400.0,174.2,228.1,"United States,Science,Cooking,Gardening"
1046,ninja,12900.0,127.8,163.9,"United States,Gaming,Travel,DIY and crafts"
1047,myriamfares,20600.0,75.8,102.4,"Iraq,Photography,Science,Technology"
1048,optimushwang,4200.0,426.0,508.0,"South Korea,Technology,Science,Social causes a..."
1049,syifahadjureal,15500.0,110.2,136.1,"Indonesia,Technology,Parenting and family,Fashion"

In [25]:
len(influencer_df.username.unique())

983